@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/SegoeUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Segoe UI';
	src: url('./segoeui/SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('./cicre/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('./cicre/Circe-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
