.modalContainer{
  position: relative;
}
.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;

  background-color:rgba(0, 0, 0, 0.25);;
  z-index: 9999;
}
/* The form */
.form {
  max-width: 540px;
  padding: 40px 80px 60px;

  background-color: #fff;
  border-radius: 15px;

  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

/* The switch */
.swichContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 0 20px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.indicator {
  position: absolute;
  height: 42px;
  width: 42px;
  left: -1px;
  bottom: -2px;
  background-color: #24cca7;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(36, 204, 167, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(36, 204, 167, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(36, 204, 167, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider .indicator{
  background-color: #ff6596;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(255, 101, 150, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(255, 101, 150, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(255, 101, 150, 0.25);

  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.wrapperForInputs{
  width: 410px;
}
.dateContainer {
 margin-right: 30px;
 
}

.labelForm {
  margin-bottom: 50px;
}

.inputForm {
  width: 190px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  text-align: center;
  font-size: 18px;
  line-height: 100%;
  color: #bdbdbd;
  outline: 0;
  outline-offset: 0;
}

.inputComment {
  composes: inputForm;
  width: 410px;
  margin: auto;
  display: block;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

input,
textarea,
select {
  -webkit-appearance: none;
}

.datepickerContainer{
  position: relative;
  display: flex;
  align-items: center;
}
.amountAndDateContainer{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.dateTimeInput{
  width: 190px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  outline: 0;
  outline-offset: 0;
}

.calendarIcon{
  position: absolute;
  right: 20px;
  bottom: 13px;
}

.categoriesContainer{
  width: 410px;
  margin-bottom: 40px;
}

.openButton{ 
    position: absolute;
    right: 6%;
    bottom: 40px;
    width: 44px;
    height: 44px;
    background-color: #24CCA7;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
    border: 0;
    cursor: pointer;
  }
  
  .closeButton{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }