.header {
  display: flex;
  height: 60px;
  background-color: var(--main-background-color);
  position: sticky;
  z-index: 2000;
}

.inner {
  display: flex;
  align-items: center;
  color: var(--inactive-text-color);
}

.user {
  font-size: 18px;
  line-height: 27px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.wrap {
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.lang {
  width: 30px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--inactive-text-color);
  border-radius: 5px;
  cursor: pointer;
}

.ua {
  composes: lang;
  background-image: url('../../icons/ua.svg');
  margin-bottom: 5px;
}

.en {
  composes: lang;
  background-image: url('../../icons/en.svg');
  
}

.title,
.sign {
  display: none;
}

.title:hover,
.title:focus {
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }

  .title,
  .sign {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 10px;
    color: var(--inactive-text-color);
  }

  .sign {
    font-size: 25px;
  }

  .wrap {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media screen and (min-width: 764px) {
  .header {
    position: static;
    z-index: 0;
  }
}

