.header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--main-background-color);
}

.inner {
    display: flex;
    color: var(--inactive-text-color);
}

.user {
    font-size: 18px;
    line-height: 27px;
    margin-right: 10px;
    display: flex;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.title, .sign {
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        height: 80px; 
    }

    .title, .sign {
        display: block;
        font-size: 18px;
        line-height: 27px;
        margin-left: 10px;
        color: var(--inactive-text-color);
    }

    .sign {
        font-size: 25px;
    }
    
}