.authForm {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	width: 100%;
}

.inputsWrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;

	position: relative;

	width: 100%;
}
.btnGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.authForm {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
	}
	.btnGroup {
		margin-top: 10px;
		padding-inline: 55px;
	}
}
